{% extends "master.html" %} {% block title %} Details about {{mymember.firstname
}} {{ mymember.lastname }} {% endblock %} {% block content %}

<div class="position-absolute top-50 start-50 translate-middle">
  <div class="card" style="width: 500px">
    <h1 class="card-header text-center p-5">
      {{ mymember.firstname }} {{ mymember.lastname }}
    </h1>
    <div class="card-body">
      <p>Phone {{ mymember.phone }}</p>

      <p>Member since: {{ mymember.joined_date }}</p>

      <p>Back to <a href="/members">Members</a></p>
    </div>
  </div>
</div>

{% endblock %}
